html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong,
b, u, i, center, dl, dt, dd, ol, ul, li,
article, footer, header, menu, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

body {
  box-sizing: border-box;
  background: #fff;
  margin: 0 auto;
}

:root {
  font-family: Tahoma;
}
@media (max-width: 860px) {
  :root {
    font-size: 6px;
  }
}

body {
  font-family: tahoma;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.7;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  background: #F3E9F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  border-bottom: 2px solid purple;
  overflow: hidden;
}
.navigation a {
  text-decoration: none;
  text-align: center;
  width: 30%;
}
.navigation i:hover {
  opacity: 0.8;
}
.navigation i::after {
  content: "Panier";
  font-size: 12px;
  bottom: -10px;
  left: 0px;
  position: absolute;
}
.navigation__logo {
  width: 200px;
}
.navigation__icon {
  font-size: 32px;
  color: purple;
  position: relative;
}

.headersection {
  height: 85vh;
  width: 100%;
  background: url(../img/background-homepage.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.headersection__title {
  color: wheat;
  font-size: 42px;
  text-align: center;
}
.headersection__button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: purple;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  background-color: #F5DEB3;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.8s;
  border: none;
}
.headersection__button:hover {
  color: #F5DEB3;
  background-color: purple;
}

.footer {
  background: #F3E9F1;
  margin-top: 80px;
}
.footer__h3 {
  text-align: center;
  padding: 25px 0px;
  font-size: 14px;
  color: grey;
}
.footer__confirmationpage {
  margin-top: 0px;
}

/*@import "./layout/menu"; */
.homepage {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.homepage img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.homepage .text {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: purple;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  background-color: #F5DEB3;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.8s;
  border: none;
}
.homepage .text:hover {
  color: #F5DEB3;
  background-color: purple;
}
.homepage .product {
  width: 20%;
}
.homepage .product__photo {
  position: relative;
  width: 100%;
  border: 3px solid wheat;
  border-radius: 10px;
  overflow: hidden;
}
.homepage .product__photo:hover img {
  opacity: 0.5;
  transform: scale(1.1);
}
.homepage .product__photo:hover .product__cta {
  opacity: 1;
}
.homepage .product__cta {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.homepage .product__nameandprice {
  display: flex;
  justify-content: space-evenly;
}
.homepage .product__nameandprice > * {
  font-size: 18px;
  color: purple;
}

.productpage {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.productpage img {
  width: 100%;
}
.productpage__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.productpage__photo {
  width: 40%;
}
.productpage__details {
  width: 40%;
}
.productpage__subtitle {
  border: 2px wheat solid;
  font-size: 20px;
  text-align: center;
}
.productpage__basketbutton {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: purple;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  background-color: #F5DEB3;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.8s;
  border: none;
}
.productpage__basketbutton:hover {
  color: #F5DEB3;
  background-color: purple;
}
.productpage__color {
  text-decoration: underline;
}
.productpage > * span {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
