.footer {
    background: $colour-primary;
    margin-top: 80px;
    &__h3 {
        text-align: center;
        padding: 25px 0px;
        font-size: 14px;
        color:grey;
    }
    &__confirmationpage {
        margin-top: 0px;
    }
}