.header {
    display: flex;
    flex-wrap: wrap;
    
    .nav {
        background: $colour-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20vh;
        border-bottom: 2px solid purple;
        a {
            text-decoration: none;
            text-align: center;
            width: 30%;
        }   
        &__logo {
            width: 200px;
        }        
    }
    
    .fa-shopping-basket {
        font-size: 32px;
        color: purple;
        position: relative;
        }

    i::after{
        content: "Panier";
        font-size: 12px;
        bottom: -10px;
        left: 0px;
        position: absolute;
    }

    section {
        h1 {
            color: wheat;
            font-size: 42px;
            text-align: center;
        }
        height: 80vh;
        width: 100%;
        background: url(../img/background-homepage.jpg) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        button {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            color: purple;
            font-size: 20px;
            font-weight: 100;
            padding: 10px;
            background-color: #F5DEB3;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            transition-duration: 0.8s;
            border:none;
            &:hover {
                color:#F5DEB3;
                background-color: purple;
            }
        }
    }
    
}

