
/*
.nonnne{ 
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    @media (max-width: 490px) {
        flex-direction: column;
        margin: 0 auto;
        align-content: center;
    }
        &__link {
            text-decoration: none;
            box-shadow: 0px 0px 20px 0px #DFDFDF;
            margin: 2%;
            width: 30vw;
            position: relative;
            padding-bottom: 50.25%;
            @media (max-width: 490px) {
                margin: 4%;
                width: 80vw;
                padding-bottom: 125.25%;
            }               
            &--pink{
                background-color: #FCDFDB;
            }
            &--salmon {
                background-color: #FFF5FE;
            }
            &--grey {
                background-color: #F9F9F9;
            }
            &--zoom {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition-property: transform, opacity;
                transition-duration: 450ms;
                transition-timing-function: linear;
            }
            &--zoom:hover {
                transform: scale(1.2);
                opacity: 0.7;
            }
        }
        &__title {
            font-size: 4rem;
            &--brown {
                font-family: Devonshire-Regular;
                color: #3C1218;
                @include responsivepadding;
            }
            &--brownlight {
                font-family: Croissant-One;
                font-size: 3rem;
                @include responsivepadding;
                background: linear-gradient(to right, rgba(216,133,46,1) 40%,rgba(144,91,253,1) 52%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &--blue {
                font-family: Dancing-Script-Regular;
                font-weight: 700;
                @include responsivepadding;
                background: linear-gradient(to right, rgba(20,73,229,1) 0%,rgba(108,178,249,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &--green {
                font-family: Kaushan-Script;
                @include responsivepadding;
                background: linear-gradient(to right, rgba(62,146,58,1) 0%,rgba(190,255,127,1) 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &__subtitle {
            font-size: 4rem;
            &--brown {
                font-family: Itim Regular;
                font-style: italic;
                color: #3C1218;
            }
            &--brownlight {
                font-family: Litoland;
                color: #C77412;
            }
            &--blue {
                font-family: Segoe-Print;
                color: #0887FB;
            }
            &--green {
                font-family: Segoe-Print;
                color: #72BF56;
            }
            &--uppercase {
                text-transform: uppercase;
            }
        }
        .fas.fa-music {
            font-size: 6rem;
            @include gradientnote;
        }
}

.soonarea {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
        &__text {
            font-family: Trueno-Round;
            color: $colour-secondary;
            background-color: $colour-primary;
            border-radius: 15px;
            font-size: 2.5rem;
            padding: 10px 50px;
        }
        & span {
            animation-name: blink;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            &:nth-child(2) {
                animation-delay: .2s;
            }
            &:nth-child(3) {
                animation-delay: .4s;
            }
        }
} */