
.homepage {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .text {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color: purple;
        font-size: 16px;
        font-weight: 100;
        padding: 10px;
        background-color: #F5DEB3;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        transition-duration: 0.8s;
        border:none;
        &:hover {
            color:#F5DEB3;
            background-color: purple;
        }
      }
    
      .product {
        width: 20%;
        &__photo {
            position: relative;
            width: 100%;
            border: 3px solid wheat;
            border-radius: 10px;
            overflow: hidden;
            &:hover {
                img {
                opacity: 0.5;
                transform: scale(1.1);
                }
                .product__cta {
                opacity: 1;
                }
            }
          }
          &__cta {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            cursor: pointer;
          }
        &__nameandprice {
            display: flex;
            justify-content: space-evenly;
            >* {
                font-size: 18px;
                color: purple;
            }
        }
        }
}